 *{
    margin: 0;
    padding: 0;
   /* box-sizing: border-box ; */
}

p{
    color: rgb(82, 49, 231);
    background-color: brown;
    text-align: center;
    font-size: 25px;
    padding: 20px;

}

div{
    height: 300px;
    width: 300px;
    background-color: coral;
    border: 3px solid black;
    padding: 10px;
    margin-left:150px;
}
.jk{
    color: rgb(42, 165, 48);
    background-color: burlywood;
}
body{
     background-color: rgb(210, 231, 231);
}
#l1{
    color: chocolate;
} 
